h1, h2, h3, h4, h5, p, span, a{
    transition: 0.4s ease-in-out;
}

body.dark{
    background-color: $darkbody;
}

body.dark .header .topBar{
    background-color: black;
}

body.dark .header .mobileNav .mobileUl{
    background-color: black;
}

body.dark .header .desktopNav .desktopUl li{
    color:white;
}

body.dark .main .titleContainer h1{
    color: white;
}

body.dark .main .search input{
    border: 1px solid white;
    background: $darkbody;
}

body.dark .main .mainTrending {
    color: white;
}

body.dark .trending{
    background-color: $darktrending;
}

body.dark .trending h2{
    color: white;
}

body.dark .trending p{
    color: white;
}

body.dark footer{
    color: white;
}

body.dark footer .btmBar{
    background-color: black;
}

body.dark .autocomplete{
    border: 1pt solid white;
    border-top: none;
}

body.dark .autocomplete li{
    color: #9CAFC3;
}

body.dark .search input{
    color: white;
}

body.dark .autocomplete li p{
    color: $maingrey;
}

body.dark .searchresults h2{
    color: $backgrey;
}

body.dark .favtitle h2{
    color: $backgrey;
}

body.dark .viewmore{
    border: 1px solid $backgrey;
    background-color: $darkbody;
    color: $backgrey;
}

body.dark .viewmore:hover{
    background-color: $backgrey;
    border: $backgrey;
    color: $darkbody;
}

body.dark .viewmore:active{
    background-color: $maingrey;
    border: $maingrey;
    color: $darkbody;
}

body.dark .favbtndesktop{
    color: $backgrey;
}

body.dark .mygifosbtndesktop{
    color: $backgrey;
}

body.dark .center{
    border: 1px solid $backgrey;
}

body.dark .centertextcontainer p{
    color: $backgrey;
}

body.dark .counterdiv{
    color: $backgrey;
    border: 1px solid $backgrey;
}

body.dark .buttonsline{
    background-color: $maingrey;
}

body.dark .createmainbutton{
    border: 1px solid $backgrey;
    background-color: $darkbody;
    color: $backgrey;
}

body.dark .createmainbutton:hover{
    background-color: $backgrey;
    border: $backgrey;
    color: $darkbody;
}

body.dark .mytitle h2{
    color: $backgrey;
}






