.searchinput{
    text-transform: capitalize;
}

.divline{
    width: 157px;
    height: 1px;
    background-color: $maingrey;
    margin-bottom: 43px;
    opacity: 50%;
}

.searchresults{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.searchresults h2{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: $mont;
    color: $mainviolet;
    text-transform: capitalize;
}

.resultsgifocontainer{
    padding: 26px 0 66px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gifcontainer{
    display: inline;
    position: relative;
    width: fit-content;
    margin: 12px;
}

.gifcontainer img{
    width: 156px;
    height: 120px;
}

.noreslogo{
    width: 120px;
    // margin-top: 109px;
    margin-top: 60px;
}

.searchresults h3{
    width: 100%;
    text-align: center;
    font-family: $mont;
    color: $maingreen;
    font-size: 16px;
    margin: 29px 0 50px 0;
}

.overlaygifo{
    background-color: #562ee5b2;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.overlaybuttons{
    position: absolute;
    right: 0;
    margin-top: 8px;
}

.overlaybuttons img{
    width: 28px;
    height: auto;
    margin-right: 8px;
}

.overlayp{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: $roboto;
    padding: 0 8px 10px 8px;
    text-transform: capitalize;
}

.overlaytitle{
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;

}

.overlayuser{
    font-size: 12px;
    font-weight: 300;
}

.viewmore{
    height: 50px;
    width: 127px;
    border: 1px solid $mainviolet;
    border-radius: 25px;
    margin-bottom: 79px;
    background-color: white;
    font-family: $mont;
    font-size: 13px;
    font-weight: 600;
    color: $mainviolet;
}

.viewmore:hover{
    background-color: $mainviolet;
    color: white;
}

.viewmore:active{
    border: $maingrey;
    background-color: $maingrey;
    color: white;
}


@media screen and (min-width: 769px){
    .divline{
        width: 338px;
        margin-bottom: 82px;
    }

    .searchresults h2{
        font-size: 35px;
    }

    .resultsgifocontainer{
        padding: 45px 143px 64px 143px;
    }

    .gifcontainer{
        margin: 14px;
    }

    .gifcontainer img{
        width: 260px;
        height: 200px;
    }

    .noreslogo{
        width: 150px;
        margin-top: 109px;
    }

    .searchresults h3{
        font-size: 22px;
        margin: 29px 0 149px 0;
    }

    .overlaybuttons{
        margin-top: 10px;
    }
    
    .overlaybuttons img{
        width: 32px;
        height: auto;
        margin-right: 11px;
    }

    .overlayp{
        padding: 0 0 20px 12px;
    }
    
    .overlaytitle{
        margin-top: 5px;
        font-size: 16px;
    }
    
    .overlayuser{
        font-size: 15px;
    }
} 

.hidden{
    display: none;
}