.trending{
    background-color: $backgrey;
    padding: 46px 0 82px 0;
    text-align: center;
}

.trending h2{
    margin-bottom: 7px;
    font-family: $mont;
    font-size: 20px;
    line-height: 30px;
    color: $mainviolet;
}

.trending p{
    margin-bottom: 32px;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 23px;
    margin: 0 25px 32px 25px;
}

.arrow{
    display: none;
}

.carouselcontainer{
    display: flex;
    height: 275px;
    // background-color: red;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.trendingcontainer{
    display: flex;
    margin: 0 22px 0 22px;
}

.trendinggifo{
    max-width: 357px;
    // max-height: 275px;
    height: fit-content;
    margin-right: 29px;
}

.trendinggifo img{
    width: 100%;
    height: 100%;
}

.trendinggifo:last-child{
    margin-right: 0;
}

.trendingcontainer :last-child{
    margin-right: 0px;
}

.tagspan{
    text-transform: capitalize;
}

.tags::after{
    content: ", ";
}

.tags:last-of-type::after{
    display: none;
}

.tags:hover{
    font-size: 1.2rem;
    font-weight: 500;
}

.leftslider{
    margin-left: 40px;
}

.rightslider{
    margin-right: 40px;
}

@media screen and (min-width: 769px){
    .trending{
        padding: 67px 0 182px 0;
    }

    .trending h2{
        margin-bottom: 12px;
        font-size: 25px;
    }

    .trending p{
        margin-bottom: 53px;
        font-size: 18px;
        color: black;
    }

    .arrow{
        display: inline;
    }

    // .carouselcontainer{
    //     justify-content: space-between;
    //     padding: 0px 92px 0px 92px;
    //     height: 275px;
    //     align-items: center;
    // }
    // .placeholderdiv{
    //     height: 275px;
    //     width: 357px;
    //     margin-right: 25px;
    // }
}


