.trending{
    background-color: $backgrey;
    padding: 46px 0 82px 0;
    text-align: center;
}

.trending h2{
    margin-bottom: 7px;
    font-family: $mont;
    font-size: 20px;
    line-height: 30px;
    color: $mainviolet;
}

.trending p{
    margin-bottom: 32px;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 23px;
    margin: 0 25px 32px 25px;
}

.arrow{
    display: none;
}

.carouselcontainer{
    display: flex;
    height: 275px;
    // background-color: red;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.trendingcontainer{
    display: flex;
    margin: 0 22px 0 22px;
}

.trendinggifo{
    // max-width: 357px;
    // width: 357px;
    // height: 275px;
    // max-height: 275px;
    position: relative;
    height: fit-content;
    margin-right: 29px;
    display: flex;
}

.trendinggifo img{
    // width: 100%;
    // height: 100%;
    width: 22rem;
  height: 17rem;
}

.trendinggifo:last-child{
    margin-right: 0;
}

// .trendingcontainer :last-child{
//     margin-right: 0px;
// }

.tagspan{
    text-transform: capitalize;
}

.tags::after{
    content: ", ";
}

.tags:last-of-type::after{
    display: none;
}

.tags:hover{
    font-size: 1.2rem;
    font-weight: 500;
}

.leftslider{
    margin-left: 40px;
}

.rightslider{
    margin-right: 40px;
}

////@at-root
// .overlaygifo{
//     background-color: #562ee5b2;

//     // padding-right: 10px;
//     position: absolute;
//     top: 0;
//     height: 100%;
//     width: 100%;
// }

// .overlaybuttons{
//     position: absolute;
//     right: 0;
//     margin-top: 8px;
// }

// .overlaybuttons img{
//     width: 28px;
//     height: auto;
//     margin-right: 8px;
// }

// .overlayp{
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     color: white;
//     font-family: $roboto;
//     padding: 0 8px 10px 8px;
//     text-transform: capitalize;
// }

// .overlaytitle{
//     margin-top: 3px;
//     font-size: 14px;
//     font-weight: 500;
// }

// .overlayuser{
//     font-size: 12px;
//     font-weight: 300;
// }
///////@at-root

@media screen and (min-width: 769px){
    .trending{
        padding: 67px 0 182px 0;
    }

    .trending h2{
        margin-bottom: 12px;
        font-size: 25px;
    }

    .trending p{
        margin-bottom: 53px;
        font-size: 18px;
        color: black;
    }

    .arrow{
        display: inline;
    }

    // .carouselcontainer{
    //     justify-content: space-between;
    //     padding: 0px 92px 0px 92px;
    //     height: 275px;
    //     align-items: center;
    // }
    // .placeholderdiv{
    //     height: 275px;
    //     width: 357px;
    //     margin-right: 25px;
    // }
}


