.trending{
    background-color: $backgrey;
    padding: 46px 0 82px 0;
    text-align: center;
}

.trending h2{
    margin-bottom: 7px;
    font-family: $mont;
    font-size: 20px;
    line-height: 30px;
    color: $mainviolet;
}

.trending p{
    margin-bottom: 32px;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 23px;
    margin: 0 25px 32px 25px;
}

.arrow{
    display: none;
}

.carouselcontainer{
    display: flex;
    height: 187px;
    // background-color: black;
}

.trendingcontainer{
    width: 100%;
    padding: 0 22px 0 22px;
    border: red 1px solid;
    display: inline-block;
    overflow: scroll;
}

.placeholderdiv{
    background-color: white;
    height: 187px;
    width: 243px;
    margin-right: 22px;
}

.trendingcontainer :last-child{
    margin-right: 0px;
}

.tagspan{
    text-transform: capitalize;
}

.tags::after{
    content: ", ";
}

.tags:last-of-type::after{
    display: none;
}


@media screen and (min-width: 769px){
    .trending{
        padding: 67px 0 182px 0;
    }

    .trending h2{
        margin-bottom: 12px;
        font-size: 25px;
    }

    .trending p{
        margin-bottom: 53px;
        font-size: 18px;
        color: black;
    }

    .arrow{
        display: inline;
    }

    .carouselcontainer{
        justify-content: space-between;
        padding: 0px 92px 0px 92px;
        height: 275px;
        align-items: center;
    }
    .placeholderdiv{
        height: 275px;
        width: 357px;
        margin-right: 25px;
    }
}


