@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, p, span, a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body.dark {
  background-color: #37383C;
}

body.dark .header .topBar {
  background-color: black;
}

body.dark .header .mobileNav .mobileUl {
  background-color: black;
}

body.dark .header .desktopNav .desktopUl li {
  color: white;
}

body.dark .main .titleContainer h1 {
  color: white;
}

body.dark .main .search input {
  border: 1px solid white;
  background: #37383C;
}

body.dark .main .mainTrending {
  color: white;
}

body.dark .trending {
  background-color: #222326;
}

body.dark .trending h2 {
  color: white;
}

body.dark .trending p {
  color: white;
}

body.dark footer {
  color: white;
}

body.dark footer .btmBar {
  background-color: black;
}

body.dark .autocomplete {
  border: 1pt solid white;
  border-top: none;
}

body.dark .autocomplete li {
  color: #9CAFC3;
}

body.dark .search input {
  color: white;
}

body.dark .autocomplete li p {
  color: #9CAFC3;
}

body.dark .searchresults h2 {
  color: #F3F5F8;
}

body.dark .favtitle h2 {
  color: #F3F5F8;
}

body.dark .viewmore {
  border: 1px solid #F3F5F8;
  background-color: #37383C;
  color: #F3F5F8;
}

body.dark .viewmore:hover {
  background-color: #F3F5F8;
  border: #F3F5F8;
  color: #37383C;
}

body.dark .viewmore:active {
  background-color: #9CAFC3;
  border: #9CAFC3;
  color: #37383C;
}

body.dark .favbtndesktop {
  color: #F3F5F8;
}

body.dark .mygifosbtndesktop {
  color: #F3F5F8;
}

body.dark .center {
  border: 1px solid #F3F5F8;
}

body.dark .centertextcontainer p {
  color: #F3F5F8;
}

body.dark .counterdiv {
  color: #F3F5F8;
  border: 1px solid #F3F5F8;
}

body.dark .buttonsline {
  background-color: #9CAFC3;
}

body.dark .createmainbutton {
  border: 1px solid #F3F5F8;
  background-color: #37383C;
  color: #F3F5F8;
}

body.dark .createmainbutton:hover {
  background-color: #F3F5F8;
  border: #F3F5F8;
  color: #37383C;
}

body.dark .mytitle h2 {
  color: #F3F5F8;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  font-family: "Montserrat", sans-serif;
}

.topBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

@-webkit-keyframes fadeIn {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 100px;
    opacity: 0.9;
  }
}

@keyframes fadeIn {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 100px;
    opacity: 0.9;
  }
}

.mobileUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 0px;
  list-style: none;
  width: 100%;
  height: 100vh;
  background-color: #572EE5;
  opacity: 0.9;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

.mobileUl li {
  margin-top: 17px;
}

.sep {
  margin-top: 10px;
  width: 41px;
  height: 0.1px;
  background-color: white;
  opacity: 0.5;
}

.logo {
  margin-left: 22px;
}

.menuIcon {
  margin-right: 26px;
}

.desktopNav {
  margin-right: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktopUl {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.desktopUl li {
  margin-right: 52px;
  font-weight: 700;
  color: #572EE5;
}

.desktopUl li:hover {
  border-bottom: 3px solid #50E3C2;
  display: inline-block;
  line-height: 1;
}

.desktopUl li:active {
  color: #9CAFC3;
  border-bottom: none;
}

.newGifoDiv {
  position: relative;
}

.newGifoDiv img {
  position: relative;
  display: inline-block;
}

.newGifoDiv :nth-child(2) {
  position: absolute;
  right: 0;
  opacity: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.newGifoBtnHover:hover {
  -webkit-animation: spin 0.5s;
          animation: spin 0.5s;
  opacity: 1;
}

.hidden {
  display: none;
  -webkit-box-flex: hidden;
      -ms-flex: hidden;
          flex: hidden;
}

@media screen and (max-width: 768px) {
  .desktopNav {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobileNav {
    display: none;
  }
  .logo {
    width: 68px;
    height: 60px;
    margin-left: 156px;
    margin-top: 10px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0 15px 45px 15px;
  color: #572EE5;
}

.hidden {
  display: none;
}

.titleContainer {
  max-width: 286px;
  padding: 7px 0 33px 0;
}

.main h1 {
  font-size: 25px;
  font-weight: 600;
}

h1 span {
  color: #50E3C2;
}

.titleImg {
  width: 273px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchicon {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
}

.closesearch {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: -1;
}

input {
  display: block;
  z-index: 0;
  border: 1px solid #572EE5;
  height: 50px;
  width: 300px;
  max-width: 334px;
  border-radius: 25px;
  padding-left: 55px;
}

.mainTrending h2 {
  margin-top: 31px;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 25px;
}

.mainTrending div {
  max-width: 225px;
}

.mainTrending div p {
  font-size: 14px;
  line-height: 25px;
}

.autocomplete {
  border: 1pt solid #572EE5;
  width: 300px;
  border-top: none;
  border-radius: 0 0 27px 27px;
  list-style: none;
}

.autocomplete li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

li img {
  position: absolute;
  margin-left: 22px;
}

li p {
  margin-left: 55px;
  margin-right: 10px;
  text-align: left;
  text-transform: capitalize;
  color: #37383C;
}

.autocomplete li:first-child {
  padding-top: 24px;
}

.autocomplete li:last-child {
  padding-bottom: 18px;
}

@media screen and (min-width: 769px) {
  .main {
    padding-bottom: 95px;
  }
  .titleContainer {
    max-width: 600px;
    padding: 76px 0 24px 0;
  }
  .main h1 {
    font-size: 40px;
    font-weight: 600;
  }
  .titleImg {
    width: 399px;
  }
  input {
    width: 551px;
    max-width: 551px;
    font-size: 16px;
  }
  .mainTrending h2 {
    margin-top: 73px;
    margin-bottom: 7px;
    font-size: 18px;
  }
  .mainTrending div {
    max-width: 100%;
  }
  .mainTrending div p {
    font-size: 16px;
  }
  .autocomplete {
    width: 551px;
  }
}

.prueba {
  display: inline;
}

.trending {
  background-color: #F3F5F8;
  padding: 46px 0 82px 0;
  text-align: center;
}

.trending h2 {
  margin-bottom: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #572EE5;
}

.trending p {
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 23px;
  margin: 0 25px 32px 25px;
}

.leftarrowcontainer {
  display: none;
}

.carouselcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 187px;
  overflow-x: scroll;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.trendingcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 22px 0 22px;
}

.trendinggifo {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trendinggifo img {
  width: 15rem;
  height: 11rem;
}

.trendinggifo:last-child {
  margin-right: 0;
}

.tagspan {
  text-transform: capitalize;
}

.tags::after {
  content: ", ";
}

.tags:last-of-type::after {
  display: none;
}

.tags:hover {
  font-size: 1.2rem;
  font-weight: 500;
}

.leftslider {
  margin-left: 40px;
}

.rightslider {
  margin-right: 20px;
}

.trendingoverlayp {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Roboto", sans-serif;
  padding-left: 19px;
}

.trendingoverlayp .overlaytitle {
  margin: 6px 0 40px 0;
  color: white;
  text-align: left;
}

.trendingoverlayp .overlayuser {
  margin: 0;
  color: white;
  font-weight: 200;
}

@media screen and (min-width: 769px) {
  .trending {
    padding: 67px 0 182px 0;
  }
  .trending h2 {
    margin-bottom: 12px;
    font-size: 25px;
  }
  .trending p {
    margin-bottom: 53px;
    font-size: 18px;
    color: black;
  }
  .leftarrowcontainer {
    display: inline;
  }
  .carouselcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 275px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .trendinggifo img {
    width: 22rem;
    height: 17rem;
  }
  .rightslider {
    margin-right: 40px;
  }
}

.hidden {
  display: none;
}

footer {
  position: relative;
  padding: 47px 0 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.btmBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

.socialContainer {
  padding: 24px 0 47.8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialContainer :nth-child(2) {
  padding: 0 19px 0 19px;
}

.rights {
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  footer {
    padding: 49.5px 158px 51.5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
  }
  footer :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerDiv {
    margin-left: 156px;
  }
  .socialContainer {
    padding: 0 0 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rights {
    font-size: 13px;
  }
}

.favtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favlogo {
  margin: 5px 0 7px 0;
  width: 28px;
}

.favtitle h2 {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 20px;
}

.nofav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.nofavlogo {
  margin: 90px 0 20px 0;
  width: 130px;
}

.nofav h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #50E3C2;
  width: 70%;
  text-align: center;
}

.favcontainer {
  padding: 46px 0 78px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favdiv {
  display: inline;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 12px;
}

.favdiv img {
  width: 156px;
  height: 120px;
}

.overlayfavbuttons {
  position: absolute;
  right: 0;
  margin-top: 8px;
}

.overlayfavbuttons img {
  width: 28px;
  height: auto;
  margin-right: 8px;
}

@media screen and (min-width: 769px) {
  .favlogo {
    margin: 11px 0 8px 0;
  }
  .favtitle h2 {
    font-size: 25px;
  }
  .nofav {
    margin-bottom: 137px;
  }
  .nofavlogo {
    margin: 109px 0 24px 0;
    width: 150px;
  }
  .nofav h3 {
    font-size: 22px;
    width: 431px;
  }
  .favcontainer {
    padding: 45px 143px 64px 143px;
  }
  .favdiv {
    margin: 14px;
  }
  .favdiv img {
    width: 260px;
    height: 200px;
  }
  .overlayfavbuttons {
    margin-top: 10px;
  }
  .overlayfavbuttons img {
    width: 32px;
    height: auto;
    margin-right: 11px;
  }
}

.searchinput {
  text-transform: capitalize;
}

.divline {
  width: 157px;
  height: 1px;
  background-color: #9CAFC3;
  margin-bottom: 43px;
  opacity: 50%;
}

.searchresults {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.searchresults h2 {
  margin-bottom: 26px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  text-transform: capitalize;
}

.resultsgifocontainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gifcontainer {
  display: inline;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 12px;
}

.gifcontainer img {
  width: 156px;
  height: 120px;
}

.noreslogo {
  width: 120px;
  margin-top: 60px;
}

.searchresults h3 {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #50E3C2;
  font-size: 16px;
  margin: 29px 0 50px 0;
}

.overlaygifo {
  background-color: #562ee5b2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlaybuttons {
  position: absolute;
  right: 0;
  margin-top: 8px;
}

.overlaybuttons img {
  width: 28px;
  height: auto;
  margin-right: 8px;
}

.overlayp {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0 8px 10px 8px;
  text-transform: capitalize;
}

.overlaytitle {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
}

.overlayuser {
  font-size: 12px;
  font-weight: 300;
}

.viewmore {
  height: 50px;
  width: 127px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  margin: 66px 0 79px 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #572EE5;
}

.viewmore:hover {
  background-color: #572EE5;
  color: white;
}

.viewmore:active {
  border: #9CAFC3;
  background-color: #9CAFC3;
  color: white;
}

@media screen and (min-width: 769px) {
  .searchresults {
    padding: 0 143px 0 143px;
  }
  .divline {
    width: 338px;
    margin-bottom: 82px;
  }
  .searchresults h2 {
    margin-bottom: 45px;
    font-size: 35px;
  }
  .gifcontainer {
    margin: 14px;
  }
  .gifcontainer img {
    width: 260px;
    height: 200px;
  }
  .noreslogo {
    width: 150px;
    margin-top: 109px;
  }
  .searchresults h3 {
    font-size: 22px;
    margin: 29px 0 149px 0;
  }
  .overlaybuttons {
    margin-top: 10px;
  }
  .overlaybuttons img {
    width: 32px;
    height: auto;
    margin-right: 11px;
  }
  .overlayp {
    padding: 0 0 20px 12px;
  }
  .overlaytitle {
    margin-top: 5px;
    font-size: 16px;
  }
  .overlayuser {
    font-size: 15px;
  }
}

.hidden {
  display: none;
}

.maxsec {
  position: absolute;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 59px 7.4% 0 7.4%;
  visibility: hidden;
}

.closemax {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 78px;
}

.maxdivcontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.maxgifo {
  width: 100%;
  max-height: 60vh;
  margin-bottom: 14px;
  display: inline-block;
}

.maxfootercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maxp {
  max-width: 60%;
}

.maxp p {
  color: black;
}

.maxp p::first-letter {
  text-transform: capitalize;
}

.maxuser {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 300;
}

.maxtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.maxbtns {
  position: relative;
  right: 0;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.maxbtns img {
  height: 36px;
  margin-left: 8px;
}

@media screen and (min-width: 1092px) {
  .closemax {
    position: relative;
    right: 120px;
  }
}

@media screen and (min-width: 769px) {
  .maxsec {
    padding-top: 66px;
  }
  .closemax {
    margin-bottom: 78px;
  }
  .maxdivcontainer {
    width: 695px;
  }
  .maxgifo {
    margin-bottom: 27px;
  }
  .maxp {
    max-width: 80%;
  }
  .maxuser {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .maxtitle {
    font-size: 18px;
  }
  .maxbtns img {
    height: 38px;
    margin-left: 10px;
  }
}

.recordlevel {
  width: 100%;
  height: 390px;
  margin: 4px 0 24px 0;
}

.sides {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 48%;
  height: 100%;
  border: 1px solid #572EE5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center video {
  width: 100%;
  height: inherit;
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
}

.corner:first-child {
  top: 20px;
  left: 20px;
  border: 1px solid #50E3C2;
  border-right: none;
  border-bottom: none;
}

.corner:nth-child(2) {
  top: 20px;
  right: 20px;
  border: 1px solid #50E3C2;
  border-left: none;
  border-bottom: none;
}

.corner:nth-child(3) {
  bottom: 20px;
  right: 20px;
  border: 1px solid #50E3C2;
  border-left: none;
  border-top: none;
}

.corner:nth-child(4) {
  bottom: 20px;
  left: 20px;
  border: 1px solid #50E3C2;
  border-right: none;
  border-top: none;
}

.centertextcontainer {
  position: absolute;
  text-align: center;
  width: 380px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

.centertextcontainer p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  font-weight: 600;
}

.centertextcontainer p:first-child span {
  color: #50E3C2;
}

.centertextcontainer p:nth-child(2) {
  margin: 25px 0 12px 0;
}

.cameraside {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wholecamcontainer {
  margin-left: 25%;
  position: relative;
  margin-top: 35%;
}

.uppercam {
  z-index: 1;
  position: fixed;
}

.lowercam {
  position: fixed;
  margin-top: 15px;
  z-index: 0;
}

.uppercam img:first-child {
  width: 46px;
  -webkit-animation: circulo 6s infinite linear;
          animation: circulo 6s infinite linear;
}

.uppercam img:last-child {
  width: 64px;
  -webkit-animation: circulo 6s infinite linear;
          animation: circulo 6s infinite linear;
  animation-direction: reverse;
}

.lowercam img:first-child {
  width: 114px;
  margin-left: 8.8px;
}

.lowercam img:last-child {
  width: 80px;
  margin-bottom: 10px;
  -webkit-animation: parpadea 2s infinite;
          animation: parpadea 2s infinite;
}

@-webkit-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes parpadea {
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes parpadea {
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

.rightfilm {
  width: 141px;
  margin-left: 14%;
}

.buttonslevel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countercont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.countercont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  color: #572EE5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countercont div:nth-child(2) {
  margin: 0 26px 0 26px;
}

.buttonsline {
  width: 796px;
  height: 7px;
  background-color: #572EE5;
  border-radius: 8px;
  margin: 19px 0 20px 0;
}

.createmainbutton {
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  margin-bottom: 26px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #572EE5;
}

.createmainbutton:hover {
  background-color: #572EE5;
  color: white;
}

.createoverlay {
  width: 100%;
  height: 100%;
  background-color: #562ee5b2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createoverlay img {
  width: 22px;
  margin-bottom: 10px;
}

.createoverlay p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.mygifossec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mytitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mygifoslogo {
  margin: 5px 0 7px 0;
  width: 28px;
}

.mytitle h2 {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 20px;
}

.nomy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.nomylogo {
  margin: 90px 0 20px 0;
  width: 130px;
}

.nomy h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #50E3C2;
  width: 70%;
  text-align: center;
}

.mycontainer {
  padding: 46px 0 78px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mydiv {
  display: inline;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 12px;
}

.mydiv img {
  width: 156px;
  height: 120px;
}

.overlayfavbuttons {
  position: absolute;
  right: 0;
  margin-top: 8px;
}

.overlayfavbuttons img {
  width: 28px;
  height: auto;
  margin-right: 8px;
}

@media screen and (min-width: 769px) {
  .mygifoslogo {
    margin: 11px 0 8px 0;
  }
  .mytitle h2 {
    font-size: 25px;
  }
  .nomy {
    margin-bottom: 137px;
  }
  .nomylogo {
    margin: 109px 0 24px 0;
    width: 150px;
  }
  .nomy h3 {
    font-size: 22px;
    width: 431px;
  }
  .mycontainer {
    padding: 45px 143px 64px 143px;
  }
  .mydiv {
    margin: 14px;
  }
  .mydiv img {
    width: 260px;
    height: 200px;
  }
  .overlayfavbuttons {
    margin-top: 10px;
  }
  .overlayfavbuttons img {
    width: 32px;
    height: auto;
    margin-right: 11px;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */