.trending{
    background-color: $backgrey;
    padding: 46px 0 82px 0;
    text-align: center;
}

.trending h2{
    margin-bottom: 7px;
    font-family: $mont;
    font-size: 20px;
    line-height: 30px;
    color: $mainviolet;
}

.trending p{
    margin-bottom: 32px;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 23px;
    margin: 0 25px 32px 25px;
}

.leftarrowcontainer{
    display: none;
}

.carouselcontainer{
    display: flex;
    height: 187px;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.trendingcontainer{
    display: flex;
    margin: 0 22px 0 22px;
}

.trendinggifo{
    position: relative;
    height: fit-content;
    margin-right: 29px;
    display: flex;
}

.trendinggifo img{
    width: 15rem;
  height: 11rem;
}

.trendinggifo:last-child{
    margin-right: 0;
}


.tagspan{
    text-transform: capitalize;
}

.tags::after{
    content: ", ";
}

.tags:last-of-type::after{
    display: none;
}

.tags:hover{
    font-size: 1.2rem;
    font-weight: 500;
}

.leftslider{
    margin-left: 40px;
}

.rightslider{
    margin-right: 20px;
}

.trendingoverlayp{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $roboto;
    padding-left: 19px;
}

.trendingoverlayp .overlaytitle{
    margin: 6px 0 40px 0;
    color: white;
    text-align: left;
}

.trendingoverlayp .overlayuser{
    margin: 0;
    color: white;
    font-weight: 200;
}


@media screen and (min-width: 769px){
    .trending{
        padding: 67px 0 182px 0;
    }

    .trending h2{
        margin-bottom: 12px;
        font-size: 25px;
    }

    .trending p{
        margin-bottom: 53px;
        font-size: 18px;
        color: black;
    }


    .leftarrowcontainer{
        display: inline;
    }

    .carouselcontainer{
        display: flex;
        height: 275px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .trendinggifo img{
        width: 22rem;
        height: 17rem;
    }
    .rightslider{
        margin-right: 40px;
    }

}

.hidden{
    display: none;
}


